<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Irrigação</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="content">
        <h1>Sistema de Irrigação</h1>
        <div class="container">
            <h1>Aspersor</h1>
            <button class="botao" id="btnLigarMotor">Ligar motor</button>
            <button class="botao" id="btnDesligarMotor">Desligar motor</button>
            <div class="indicadores">
                <div class="quadrado certo" id="certo"></div>
                <div class="quadrado alerta" id="alerta"></div>
                <div class="quadrado falha" id="falha"></div>
            </div>
            <p class="resposta" id="resposta"></p>
        </div>
    </div>
</body>
<script src="client.js"></script>
</html>
